*{
    box-sizing: border-box;
}
.box {
    width: 100%;
    height: 200px;
    background-color: black;
}
.something {
    border-color: black;
}
.footer {
    width: 100%;
    height: 100px;
    background-color: black;
}
.justDiv {
    

}
